:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonie-card span {
    display: block;
}

.container-reviews {
    width: 100%;
}

.banners, .container-testimonies, .container-reviews {
    max-width: 500px;
}

.banners {
    text-align: center;
    margin-top: 80px;
}

.banners__h1 {
    color: var(--very-dark-magenta);
    font-size: 1.8em;
    margin: 20px 0;
    padding: 0 38px;
}

.banners__p {
    margin: 0 15px;
    color: var(--dark-grayish-magenta);
    font-weight: 500;
    line-height: 1.5;
}

.container-reviews {
    margin: 40px 0;
}


.attribution {
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
}

.review-card {
    margin: 10px 0;
    padding: 10px 0;
    background-color: var(--light-grayish-magenta);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.review-card__p {
    margin: 5px 0 0 0;
    justify-self: flex-end;
    font-weight: 700;
    color: var(--very-dark-magenta);
}

.testimonie-card {
    padding: 30px 40px;
    background: var(--very-dark-magenta);
    margin-bottom: 20px;
    border-radius: 8px;
}

.testimonie-profile {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.testimonie-profile__headers {
   width: 100%;
   margin-left: 25px;
}

.testimonie-profile__headers h1 {
    color: var(--light-grayish-magenta);
    font-weight: 700;
 }

.testimonie-profile__headers h2 {
    color: var(--soft-pink);
    font-weight: 400;
 }

.testimonie-card img {
    border-radius: 50%;
    flex-basis: 50px;
    max-height: 50px;
}

.testimonie-profile__headers h1, h2 {
    font-size: 1em;
    margin: 5px 0;
 }

 .testimonie-card p {
     color: var(--light-grayish-magenta);
     font-weight: 400;
     font-size: .9em;
     line-height: 1.5;
 }